[project]
authors = ["Olivier Roussel <olivier.roussel@inria.fr>"]
channels = ["https://repo.prefix.dev/conda-forge", "panda3d-forge"]
name = "visp"
platforms = ["linux-64", "osx-64", "win-64", "osx-arm64"]
version = "3.6.0"
license = "GPL-2.0-only"
license-file = "LICENSE.txt"

# TODO: add ccache support
[build-dependencies]
cxx-compiler = ">=1.7.0"
cmake = ">=3.22"
ninja = ">=1.11"
pkg-config = ">=0.29.2"
git = ">=2.47.0"

[dependencies]
libopencv = "*"
eigen = "*"
libjpeg-turbo = "*"
libpng = "*"
libblas = "*"
libcblas = "*"
liblapack = "*"
liblapacke = "*"

[target.unix.dependencies]
xorg-libx11 = "*"
xorg-libxfixes = "*"
xorg-xorgproto = "*"
# TODO: activate on windows as well
libxml2 = "*"
libdc1394 = ">=2.2.6"
librealsense = "*"

[target.linux-64.dependencies]
mesa-libegl-cos7-x86_64 = "*"

[target.osx.dependencies]
llvm-openmp = "*"

[activation]
scripts = ["development/scripts/pixi/activation.sh"]

[target.linux.activation]
scripts = ["development/scripts/pixi/activation.sh", "development/scripts/pixi/activation_xvfb.sh"]

[target.win-64.activation]
scripts = ["development/scripts/pixi/activation.bat"]
